name: 'Arduino'
extensions: [
    '.ino'
]
commandSequence: [
    {
        command: 'ino'
        arguments: ['-build', '{{file}}']
    }
]
variants: [
    {
        name: 'Upload'
        commandSequence: [
            {
                command: 'ino'
                arguments: ['-upload', '{{file_base_name}}']
            }
        ]
    }
]
