name: 'C++'
extensions: [
    '.cpp',
    '.h'
]
commandSequence: [
    {
        command: 'g++'
        arguments: ['{{file}}', '-o', '{{file_base_name}}']
    }
]
variants: {
    run: {
        commandSequence: [
            {
                command: './{{file_base_name}}'
                arguments: []
            }
        ]
    }
}
