name: 'Java'
extensions: [
    '.java'
]
commandSequence: [
    {
        command: 'javac'
        arguments: ['-cp', '.', '{{file}}']
    }
]
variants: [
    {
        name: 'Run'
        commandSequence: [
            {
                command: 'java'
                arguments: ['-cp', '.', '{{file_base_name}}']
            }
        ]
    }
]
