name: 'Processing'
extensions: [
    '.pde'
]
commandSequence: [
    {
        command: 'processing-java'
        arguments: ['--sketch={{file_path}}', '--output={{file_path}}/build', '--run', '--force']
    }
]
