name: 'Rust'
extensions: [
    '.rs'
]
commandSequence: [
    {
        command: 'rustc'
        arguments: ['{{file}}']
    }
]
variants: {
    run: {
        commandSequence: [
            {
                command: './{{file_base_name}}'
                arguments: []
            }
        ]
    }
}
