# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'.platform-darwin atom-workspace':
  'cmd-alt-b': 'fusion:build'
  'cmd-alt-shift-b': 'fusion:run'
  'ctrl-c': 'fusion:cancel-build'

'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'ctrl-alt-b': 'fusion:build'
  'ctrl-alt-shift-b': 'fusion:run'
  'ctrl-c': 'fusion:cancel-build'

'.build':
  'escape': 'fusion:cancel-build'
